/*@import url(http://fonts.googleapis.com/css?family=Gafata);*/

html, body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin-left: 0;
}

body.fullscreen {
  background-color: #000;
}

.fullscreen::-webkit-scrollbar {
  display: none;
}

div#lyrics {
  padding: 2%;
  font-size: 14px;
  margin-left: 5px;
  font-family: georgia;
  text-align: center;
}

div#lyrics.instrumental {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
}

div#lyrics.instrumental::before {
  content: '\266A';
  font-size: 40px;
}

div#lyrics.fullscreen {
  font-size: 30px;
  color: #fff;
}

.editmode {
  border: 5px dashed rgba(0,0,0,0.2);
}

.editmode:focus {
  border-color: cornflowerblue;
  outline: 0;
}

div#header {
  /*background-color: rgba(0,0,0,.1);*/
  /*margin: 0px;*/
  padding: 0.1%;
  padding-left: 0;
  font-family: serif;
  line-height: 95%;
  height: 80px;
}

div#header.fullscreen {
  display: none !important;
}

div#title {
  font-style: italic;
  font-size: 1.3em;
}

div#artist {
  font-size: 0.8em;
  font-style: italic;
}

div#search input {
  border:dashed 3px rgba(0,0,0,0.1);
  font-family: georgia;
  font-size: 1.8em;
  margin: 1%;
  padding: 1%;
  padding-left: 10px;
}

div#search input:focus {
    border-color: cornflowerblue;
    outline: none;
}

#iTunesNotRunning {
  padding: 20px;
  font-size: 33px;
  font-family: georgia;
  color: darkmagenta;
  font-style: oblique;
  background: beige;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 10px 1px beige;
  margin-top: 13px;
  margin-bottom: 10px;
}

#NoLyricsFound {
  margin-top: 10px;
  font-family: georgia;
}

#NoLyricsFound p {
  margin-left: 5px;
}

#NoLyricsFound a {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-size: 23px;
  font-family: "Apple Gothic";
  color: crimson;
}

#NoLyricsFound h2 {
  padding: 10px;
  margin: 0;
  color: gold;
  font-size: 30px;
  font-style: italic;
  background: whitesmoke;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 40px;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  border-right: 2px solid gold;
}

.NotFound {
    margin-left: 30px;
    margin-bottom: 10px;
    opacity: 0.8;
    font-family: georgia;
    background-color: #ededed;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

.NotFound:hover {
    opacity: 1;
}

.NotFound:active {
    opacity: 1;
    background-color: #FFF1A6;
}

.ribbon {
   width: auto;
   position: absolute;
   text-align: left;
   padding-left: 5;
   font-size: 20px;
   background: #81d94e;
   background: -webkit-gradient(linear, left top, left bottom, from(#81d94e), to(#78ab2c));
   background: -webkit-linear-gradient(top, #81d94e, #78ab2c);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: serif;
   font-style: italic
   }
.ribbon2 {
   width: auto;
   position: absolute;
   text-align: left;
   margin-top: 45px;
   font-size: 8px;
   background: #ebd35b;
   background: -webkit-gradient(linear, left top, left bottom, from(#ebd35b), to(#f5b84f));
   background: -webkit-linear-gradient(top, #ebd35b, #f5b84f);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: serif;
   font-style: italic
   }
.ribbon h1 {
   font-size: 25px;
   color: #ffffff;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon2 h1 {
   font-size: 17px;
   color: #ffffff;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 2px 10px;
   padding-left: 20px;
   }
.ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #8cc23a;
   z-index: -1;
   }
.ribbon2:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #f5d573;
   z-index: -1;
   }
.ribbon:after, ribbon2:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:after {
   border-color: #438516 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }

.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }


.ribbon2:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon2 .ribbon-content2:after {
   border-color: #c2aa48 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }

.ribbon2 .ribbon-content2:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }

.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

/* http://demo.marcofolio.net/facebook_loader/ */
#loader { width:36px; height:32px; margin: 0px auto; }

/* Initial state */
.loadingbar {
    background-color:rgba(153, 153, 153, 0.64); border:1px solid transparent; float:left;
    margin-right:4px; margin-top:6px; width:6px; height:18px;

    /* Set the animation properties */
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: loadingbar;
}

/* Delay both the second and third bar at the start */
#loader .loadingbar:nth-child(2) { -webkit-animation-delay: 0.1s; }
#loader .loadingbar:nth-child(3) { -webkit-animation-delay: 0.2s; }

/* The actual animation */
@-webkit-keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:22px; }
    20% { margin-top:0px; height:32px; }
    30% { margin-top:1px; height:30px; }
    40% { margin-top:3px; height:26px; }
    50% { margin-top:5px; height:22px; }
    60% { margin-top:6px; height:18px; }
    70% { }
    /* Missing frames will cause the extra delay */
    100% { }
}
